.adminlogin{
    width: 650px;
    background: white;
    border: 1px solid #fffed2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 12px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    height: 700px;
    float: right;
    margin-top: 80px;
    margin-right: 60px; 
}
.adminlogin  h1{
    margin-bottom: 15px;
    margin-top: 70px;

}
.adminlogin > h3{
    padding-bottom: 15px;
    color: #B4B4B4;
    font-weight:700;
}

.adminlogin > .button{
    background: #0095e8;
    border: 1px solid #0095e8;
    color: white;
    font-size: 1.25rem;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    height: 35px;
    width: 74%;
    margin-left: 11%;
}
.adminlogin > .button:hover{
     background-color: #0080ff; 
}
.link-buttons{
    display: flex;
    justify-content: center;
}
.link-buttons > .google-button{
    background: white;
    border: 1px solid rgb(202, 202, 202);
    color: black;
    font-size: 1.25rem;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 220px;
    height: 35px;
}
.link-buttons > .google-button:hover{
    color: #0080ff;
    background-color: rgb(253, 251, 251);
}
.link-buttons > .facebook-button{
    background: white;
    border: 1px solid rgb(202, 202, 202);
    color: black;
    font-size: 1.25rem;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    height: 35px;
    width: 220px;
    margin-left: 10px;
}
.link-buttons > .facebook-button:hover{
    color: #0080ff;
    background-color: rgb(253, 251,251);
}
#emailinput{
    border-radius: 8px;
    border: 1px solid rgb(202, 202, 202);
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 74%;
    font-size: 1rem;
    height: 35px;
    margin: 25px 0;
}
::placeholder{
    color: #B4B4B4;
}
#passwordinput{
    border-radius: 8px;
    border: 1px solid rgb(202, 202, 202);
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 74%;
    font-size: 1rem;
    height: 35px;
}
.passwordfield{
    text-align: right;
    margin-right: 70px;
    color: #0095e8;
    margin-top: 0px;
    margin-bottom: 50px;
}
.passwordfield:hover{
    color: #0080ff;
    cursor: pointer;
}
.signup-para{
    color: grey;
    font-weight: lighter;
    margin-top: 30px;
}

.signup-para > span{
    color: #0095e8;
    font-weight: bold;
}
.signup-para > span:hover{
    color: #0080ff;
    cursor: pointer;
}
.fa-facebook{
    color: black;
    margin-right: 9px;
}
.fa-google{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin-right: 9px;
}